html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
img {
	border: 0;
}
#main #logo {
	width: 400px;
	height: 248px;
	background: url(../images/logo.png);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
#main #form {
	width: 280px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
#main #form #field {
	margin-right: 87px;
}
#main #form .checkbox {
	margin-right: 105px;
}
#main #form #search {
	margin-top: 20px;
	margin-right: 105px;
}
#copyright {
	color: blue;
	margin-top: 100px;
	font-size: 14px;
	text-align: center;
}
#main address {
	font-family: "свт╡";
	font-style: normal;
}
a:link {
	color: blue;
}
a:visited {
	color: blue;
}
a:hover {
	color: green;
}
a:active {
	color: green;
}
