#main {
	width: 800px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
#AdminLogin {
	width: 400px;
	height: 248px;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/logo_red.png) no-repeat;
}
#AdminLoginForm {
	text-align: center;
}

